@import "./components/views/streamer";
@import "./components/views/streamerList";
@import "./components/common/platformIcon";
@import "./pages/home";
@import "./pages/streamerRecord";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
